@model List<SGHSSVidaPlus.Domain.Entities.TipoAtendimento>
<table class="table" id="tbEtapas">
    <thead class="text-center thead-sticky">
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Usuário Inclusão</th>
            <th>Data Inclusão</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tipoAtendimento in Model.OrderByDescending(t => t.Id))
        {
            var status = tipoAtendimento.Ativo == true ? "Ativo" : "Inativo";
            var corLinha = tipoAtendimento.Ativo == false ? "bg-excluido" : "";

            <tr class="@corLinha">
                <td class="@corLinha">@tipoAtendimento.Id.ToString("D11")</td>
                <td class="@corLinha">@tipoAtendimento.Nome</td>
                <td class="@corLinha">@tipoAtendimento.UsuarioInclusao</td>
                <td class="@corLinha">@tipoAtendimento.DataInclusao</td>
                <td class="text-center @corLinha">@status</td>
                <td class="text-center @corLinha">
                    <div class="form-button-action">
                        <a class="ms-4" onclick="editar('@tipoAtendimento.Id')"><i class="fa fa-edit text-primary c-pointer"></i></a>
                        @if (tipoAtendimento.Ativo)
                        {
                            <i class="fa fa-times text-danger ms-4 c-pointer mt-1" title="Inativar" onclick="alterarStatus('@tipoAtendimento.Id','@tipoAtendimento.Nome','Inativar')"></i>
                        }
                        else
                        {
                            <i class="fas fa-retweet text-info ms-4 c-pointer mt-1" title="Reativar" onclick="alterarStatus('@tipoAtendimento.Id','@tipoAtendimento.Nome','Reativar')"></i>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>