@model List<Selecao.Domain.Entities.EtapaSelecao>
<table class="table" id="tbEtapas">
    <thead class="text-center thead-sticky">
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Usuário Inclusão</th>
            <th>Data Inclusão</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var etapa in Model.OrderBy(c => c.Id))
        {
            var disponivel = etapa.Status == true ? "Disponivel" : "Excluída";
            var corLinha = etapa.Status == false ? "bg-excluido" : "";
            <tr>
                <td class="@corLinha">@etapa.Id</td>
                <td class="@corLinha">@etapa.Nome</td>
                <td class="@corLinha">@etapa.UsuarioInclusao</td>
                <td class="@corLinha">@etapa.DataInclusao</td>
                <td class="text-center @corLinha">@disponivel</td>
                <td class="text-center @corLinha">
                    <div class="form-button-action">
                        @* <a asp-action="Visualizar" asp-route-id="@etapa.Id"><i class="fa fa-eye text-secondary c-pointer"></i></a> *@
                        <i class="fa fa-edit text-primary ms-4 c-pointer" onclick="editar('@etapa.Id')"></i>
                        @if (etapa.Status)
                        {
                            <i onclick="alterarStatus('@etapa.Id', '@etapa.Nome','Excluir')" title="Excluir" class="fa fa-times text-danger ms-4 c-pointer"></i>
                        }
                        else
                        {
                            <i class="fas fa-retweet text-light ms-4 c-pointer" title="Reativar" onclick="alterarStatus('@etapa.Id','@etapa.Nome','Reativar')"></i>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>