@model List<Selecao.Domain.Entities.SelecaoCandidato>
<table class="table" id="tbCandidatos">
    <thead class="text-center thead-sticky">
        <tr>
            <th>Código</th>
            <th>Cargo</th>
            <th>Vagas</th>
            <th>Usuário Inclusão</th>
            <th>Data Inclusão</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var selecao in Model.OrderBy(c => c.Id))
        {
            var encerrado = selecao.Encerrado == true ? "ENCERRADA" : "EM ANDAMENTO";
            <tr>
                <td> @selecao.Id</td>
                <td> @selecao.Cargo</td>
                <td> @selecao.Vagas</td>
                <td> @selecao.UsuarioInclusao</td>
                <td> @selecao.DataInclusao</td>
                <td>@encerrado</td>
                <td>
                    <div class="form-button-action">
                        <a class="ms-4" asp-action="IncluirCandidatos" asp-route-id="@selecao.Id"><i class="fas fa-user-plus"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@* 
<div class="modal" id="modalCurriculo" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content" id="dadoCurriculo">
        </div>
    </div>
</div> *@